.post-container {
    width: 555px;
    background-color: white;
    border-radius: 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-actions-container {
    height: 60px;
    width: 96%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.action-btn:hover {
    transition: all 0.1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.1);
}

.action-icn {
    transform: scale(0.9);
}

.action-btn p {
    margin: 0;
    margin-top: 2px;
    margin-left: 5px;
    font-size: 14px;
}

.post-img {
    width: 100%;
    height: auto;
}

.post-user-container {
    width: 90%;
    display: flex;
    margin-top: 15px;
}

.post-user-icon {
    width: 48px;
    fill: rgba(0, 0, 0, 0.6);
}

.post-caption {
    width: 90%;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
}