.infoLeftContainer {
    width: 225px;
    height: auto;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
}

.leftProfileContainer {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
}

.userBanner {
    width: 100%;
    height: auto;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

@media (max-width: 770px) {
    .infoLeftContainer {
        width: 100%;
    }
}