

.nav-contents {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.main-btns {
    display: flex;
    width: 660px;
    justify-content: space-between;
}

.nav-btn {
    color: rgba(0, 0, 0, 0.6);
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.nav-btn:hover {
    color: black;
}

.nav-btn:hover .nav-btn-icn {
    fill: black;
}



.nav-btn p {
    margin: 0;
    font-size: 12px;

}

.nav-btn-icn {
    fill: rgba(0, 0, 0, 0.6);
}

.prem-txt {
    width: 100px;
    height: 100%;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.prem-txt p {
    font-size: 12px;
    color: #915907;
}

.search-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-container {
    display: flex;
}

.input-container input {
    width: 240px;
    height: 34px;
    background-color: #eef3f8;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border: none;
    font-size: 14px;
}

.search-div {
    background-color: #eef3f8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 40px;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}

.search-input-icn {
    fill: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.nav-target-icn {
    width: 0;
    height: 2px;
    position: absolute;
    background-color: black;
    bottom: 0;
    transition: width 0.4s ease-in-out;
}

.nav-active {
    width: 100%;
    transition: width 0.4s ease-in-out;
}

.network-active {
    transform: rotateY(3.142rad);
    fill: black;
}

.active-notifs {
    transform: rotate(15deg);
    fill: black;
    transition: all 0.1s ease-in-out;
}