.message-tab {
    position: fixed;
    bottom: -600px;
    right: 0;
    width: 288px;
    height: 650px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: bottom 0.2s ease-in-out;
}

.show-message-tab {
    bottom: 0;
    transition: bottom 0.2s ease-in-out;
}

.message-head {
    cursor: pointer;
    width: 100%;
    height: 48px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    align-items: center;
    position: relative;
}

.message-head:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

.message-head p {
    font-size: 14px;
}


.msg-circle-icn {
    margin-left: 10px;
    width: 32px;
    height: 32px;
}

.messaging-icons {
    display: flex;
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    right: 15px;
}

.msg-tab-icn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgba(0, 0, 0, 0.7);
}

.msg-tab-icn:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.down-icn-active {
    transform: rotate(180deg);
}

.msg-search-container {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-container {
    width: 265px;
    margin-top: 0px 0px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0.2rem;
    background-color: rgba(10, 102, 194, 0.08);

}

.search-container:hover {
    border: 3px solid rgba(0, 0, 0, 0.5);
}

.search-container:focus-within {
    border: 3px solid rgba(0, 0, 0, 0.9);

}

.msg-search-icn {
    transform: scale(0.8);
    fill: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 12px;
    left: 15px;
    cursor: pointer;

}

.msg-search-input {
    margin: 0px 30px;
    width: 210px;
    height: 28px;
    border: transparent;
    position: absolute;
    left: 10px;
    right: 30px;
    background-color: transparent;

}

.msg-search-input:focus {
    outline: none;
}



.msg-adjust-icn {
    position: absolute;
    fill: rgba(0, 0, 0, 0.7);
    top: 16px;
    right: 18px;
    cursor: pointer;
}

.message-contents {
    width: 100%;
    height: 552px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.message-pages-container {
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.msg-page-btn-cter {
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
}

.msg-page-btn-cter button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.msg-page-btn-cter span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    opacity: 0;
    background-color: green;
}

.active-btn button {
    color: green;
}

.active-btn span {
    opacity: 1 !important;
    transition: 0.3s ease-in-out;
}

.focused-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.chat-container {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.chat-container:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.chat-dp {
    margin-left: 10px;
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-texts {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.chat-texts p:nth-child(1) {
    font-size: 14px;
    width: 167px;
    text-overflow: ellipsis;
}

.chat-texts p:nth-child(2) {
    width: 167px;
    height: 28px;
    font-size: 12px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.5);
    text-overflow: ellipsis;
}