.messagePage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageContent {
    margin-top: 20px;
    width: 75%;
    height: 680px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    column-gap: 25px;

}

.messageAd {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
}

.chatsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 680px;
    width: 313px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 0.8rem;
    overflow: hidden;

}

.messageHeader {
    width: 100%;
    min-height: 44px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messageHeader p {
    margin-left: 15px;
}


.chatIcons {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.chatIcon {
    transform: scale(1.4);
}

.messageContainer {

    display: flex;
    justify-content: flex-start;
    /* position: absolute;
    bottom: 0; */
}

.spacer{
    width: 400px;
}

.userChatContainer {
    width: 470px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-right-radius: 0.8rem;
    overflow: hidden;
}

.chatHeader {
    display: flex;
    height: 44px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
}

.nameStatus {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 15px;
}

.nameStatus p:nth-child(1) {
    font-size: 14px;
}

.nameStatus p:nth-child(2) {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.chatHeaderIcons {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}


.chatHeaderIcn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.chatHeaderIcn:hover {
    transition: 0.1s ease-in;
    background-color: rgba(0, 0, 0, 0.1);
}

.chatMessages {
    width: 100%;
    height: 416px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.chatMessageInputContainer {
    width: 100%;
    height: 120px;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    column-gap: 10px;
}

.chatMessageInputContainer textarea  {
    color: black;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
    height: 80px;
    background-color: whitesmoke;
    border: none;
    border-radius: 0.8rem;
    resize: none;
}

.chatMessageInputContainer div {
    margin-top: 10px;
}

.msgArrowIcn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: rotate(180deg);
}

.msgArrowIcn:hover {
    transition: all 0.1s ease-in;
    background-color: rgba(0, 0, 0, 0.1);
}

.chatActions {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.chatActionIcns {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.chatActionIcns button {
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    background-color: 1px solid rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0.8rem;
    padding: 5px 10px;
}


.chatActionDots {
    fill: rgba(0, 0, 0, 0.6);
    transform: scale(1.5);
}

.displayChatUser {
    width: 100%;
    height: 125px;
    margin-left: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}


.chatDpSample {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.chatUserInfo {
    margin-left: 15px;
}

.chatUserInfo p:nth-child(1) {
    font-weight: bold;
}

.chatUserInfo p:nth-child(2) {
    font-size: 14px;
    margin-top: 3px;
    color: rgba(0, 0, 0, 0.6);
} 

.allMessageContents {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
}

.borderTop {
    display: flex;
    color: rgba(0, 0, 0, 0.6);

}

.borderTop hr {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}

.borderTop p {
    font-size: 14px;
    margin: 0 10px;
}


.chatMessage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chatMessageDp {
    z-index: 100;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.imageName {
    margin-left: 10px;
    display: flex;
    column-gap: 10px;
    height: 16px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.imageName p {
    margin-top: 5px;
}


.imageName p:hover {
    color: rgba(10, 102, 194, 0.8);
    text-decoration: underline;
}

.messageText {
    margin-top: 10px;
    width: 100%;
    padding-bottom: 10px;
}

.messageText:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.messageText p {
    margin-top: 10px;
    width: 75%;
    margin-left: 60px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
}

@media (max-width: 1300px) {
    .messageContent {
        width: 95%;
    }
}