.networkPage {
    width: 100%;
    height: 100%;
    display: flex;  
    justify-content: center;
    align-items: flex-start;
}

.networkContents {
    margin-top: 20px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    column-gap: 25px;
}

.leftBanner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 300px;
    height: auto;
    background-color: white;
    border-radius: 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

.leftBanner p {
    width: 80%;
    margin: 0;
}

.leftBanner p:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.networkInfo {
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
    cursor: pointer;
    height: 40px;
}

.networkInfo:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.icon {
    margin-left: 15px;
    fill: rgba(0, 0, 0, 0.6);
}

.growNetwork {
    color: #0a66c2;
    width: 100% !important;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.adContainer {
    width: 100%;
    padding-top: 15px ;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.adImage {
    width: 100%;
}

.siteInfos {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    row-gap: 10px;
}

.block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.block p {
    margin: 0 !important;      
    font-size: 12px;
    width: auto;
}


.contentContainer {
    width: auto;

}

.contentOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    margin-bottom: 15px;
    width: 805px;
}

.contentOne p {
    margin: 20px 15px;
}

.contentOne p:nth-child(1) {
    color: rgba(0, 0, 0, 0.7);
}

.contentOne p:nth-child(2) {
    color: rgba(0, 0, 0, 0.6);
}

.suggestionsContainer {
    width: 805px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: auto    ;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.suggestionsContainer p {
    margin-left: 15px;
    align-self: flex-start;
    color: rgba(0, 0, 0, 0.7);
}

.allSuggestions {
    width: 95%;
    height: auto;
    margin-bottom: 20px;
    grid-template-columns: repeat(3,minmax(0,1fr));
    display: grid;
    gap: 1.2rem;
    list-style-type: none;
}

.suggestionDiv {
    width: 100%;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggestionDiv:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.suggestionBanner {
    width: 100%;
    height: 62px;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    background-size: cover;
}

.suggestionInfo {
    position: relative;
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sgUserIcn {
    width: 72px;
    height: 72px;
    background-size: cover;
    margin-top: -50px;
    fill: gray;
}

.suggestionInfo p {
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.8);
}

.suggestionInfo p:nth-child(3) {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.followBtn {
    height: 32px;
    width: 100%;
    border-radius: 0.8rem;
    border: 1px solid #0a66c2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    cursor: pointer;
    box-sizing: border-box;

}

.followBtn:hover {
    background-color: rgba(10, 102, 194, 0.2);
    border-width: 2px;
    transition: all 0.1s ease-in-out;
}

.followBtn  p {
    color:#0a66c2;
    margin: 0;
    align-self: center;
}


@media (max-width: 1300px) {
    .networkContents {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    .networkContents {
        width: 95%;
        justify-content: center;
    }
    .contentOne {
        width: 635px;
    }

    .suggestionsContainer {
        width: 635px;
    }

    .allSuggestions {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

@media (max-width: 1030px) {


    .contentOne {
        width: 395px;
    }

    .suggestionsContainer {
        width: 395px;
    }

    .allSuggestions {
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
}

@media (max-width: 760px) {
    .networkContents {
        flex-direction: column;
        align-items: center;
    }

    .leftBanner {
        width: 80%;
    }

    .contentContainer {
        width: 80%;
    }

    .contentOne {
        width: 100%;
    }

    .suggestionsContainer {
        width: 100%;
    }

    .adImage {
        height: auto;
    }
} 