.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 52px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}